/* GENERAL */

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body{
  background-color: #eaeff2;
}

.container{
  width: 70%;
  margin: 50px auto;
  background-color: #ffffff;
  border-radius: 5px;
}

hr{
  color:#eaeff2;
}

/* HEADER */

header{
  background-color: #ffffff;
  padding: 10px 15px;
}

header img{
  vertical-align: middle;
}

#logo-text{
  font-size: 40px;
  font-family: 'Nunito Sans', sans-serif;
  color: #031732;
  vertical-align: middle;
}

/* MAIN */

.top{
  padding: 15px 0px 10px 40px;
}

.top button{
  border: 1px solid #eaeff2;
  display: inline-block;
  width: 80px;
  height: 30px;
  line-height: 20px;
  text-align: center;
  border-radius: 5px;
  background-color: #ffffff;
  color:#C6CCD1
  }

.top #task{
  background-color: #47ADF1;
  color: #ffffff
}

ul {
  list-style-type: none;
 }

li{
  padding: 0px 0px 15px 0px;
 }

.list{
  padding: 15px 0px 10px 40px;
}

.list-name{
  font-weight: 600;
  padding: 15px 0px 10px 0px;
}


.list-name::before{
  content: '\25BE';
  padding-right: 5px;
}

.button-one{
  display: inline-block;
  border: none;
  width: 70px;
  height: 25px;
  line-height: 5px;
  text-align: center;
  border-radius: 10px;
  background-color: #47ADF1;
  color:#ffffff;
  font-size: 10px
  }

.button-two{
  display: inline-block;
  border: none;
  width: 70px;
  height: 25px;
  line-height: 5px;
  text-align: center;
  border-radius: 10px;
  background-color: #9C72E4;
  color:#ffffff;
  font-size: 10px
  }

.button-three{
  display: inline-block;
  border: none;
  width: 70px;
  height: 25px;
  line-height: 5px;
  text-align: center;
  border-radius: 10px;
  background-color: #64C0A9;
  color:#ffffff;
  font-size: 10px
  }

.button-four{
  display: inline-block;
  border: none;
  width: 70px;
  height: 25px;
  line-height: 5px;
  text-align: center;
  border-radius: 10px;
  background-color: #F29E33;
  color:#ffffff;
  font-size: 10px
  }


.done-element::before{
  content: '\02713';
  color: #00B79A;
  display: inline-block;
  width: 15px;
  height: 15px;
  line-height: 15px;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #00B79A;
  }

.undone-element::before{
  content: '\00058';
  color: #EC7C77;
  display: inline-block;
  width: 15px;
  height: 15px;
  line-height: 15px;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #EC7C77;
  }