/* GENERAL */

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: #eaeff2;
}

.container{
  width: 70%;
  margin: 50px auto;
  background-color: #ffffff;
  border-radius: 5px;
}

/* HEADER */

header{
  background-color: #ffffff;
  padding: 10px 15px;
}

header img{
  vertical-align: middle;
}

#logo-text{
  font-size: 40px;
  font-family: 'Nunito Sans', sans-serif;
  color: #031732;
  vertical-align: middle;
}

/* MAIN */

.top{
  padding: 15px 0px 10px 40px;
}

.top button{
  border: 1px solid #eaeff2;
  display: inline-block;
  width: 80px;
  height: 30px;
  line-height: 20px;
  text-align: center;
  border-radius: 5px;
  background-color: #ffffff;
  color:#C6CCD1
  }

  #task{
    background-color: #47ADF1;
    color: #ffffff
  }